<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet"> -->

    <link rel="stylesheet" href="/css/login.css">
    <script src="/js/login.js"></script>
    <script src="/js/ajax.js"></script>

    <title>Login</title>
</head>

<body>



<section class="container_login" id="container_login">
    <div class="container_login_div" id="container_login_div">
        <div>Admin Login</div>
        <!-- <iframe id="myFrame1" type="application/pdf" width="100%" height="400px" style="margin-top:4% ;">
    </iframe> -->
  
        <div class="container_login_div_table" id="container_login_div_table">
           
            <div class="login_input_div">
            <label for="buyer_name_input">UserName</label>
            <input type="text" name="buyer_name_input" class="buyer_name_input" id="username_input" onfocus="this.style.border = '2px solid black'" spellcheck="false" >
  
            <div style="margin-top: 5%;">
            <label for="buyer_mobile_input">Password</label>
            <input type="text" name="buyer_mobile_input" class="buyer_name_input" id="password_input" onfocus="this.style.border = '2px solid black'" spellcheck="false" >
        </div>


        <div style="width: 100%;justify-content: center;text-align: center;">
            <button class="submitLoginButton" id="submitLoginButton">Login</button>
        </div>


        </div>
            
        </div>


        <div class="message_div" id="message_div"></div>
  
    </div>
  </section>



  <script src="/js/login.js"></script>


</body>
</html>